{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="d-flex justify-content-center" style="background-color: black; padding: 50px;">
<form class="form" action="" method="get" style="background-color: black;">
    <input class="form-style" type="search" placeholder="Başlangıç Tarihi" aria-label="Search" name="s">
    <input class="form-style" type="search" placeholder="Bitiş Tarihi" aria-label="Search" name="f">
    <button class="btn btn-outline-primary btn-light" type="submit">Listele</button>
    <p class="d-flex justify-content-center" style="background-color: white; margin-top: 5px;">Örnek Tarih : 2017-08-09</p>
</form>
</div>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">answered</th>
      <th scope="col">called_num</th>
      <th scope="col">callerid</th>
      <th scope="col">duration</th>
      <th scope="col">calldate</th>
    </tr>
  </thead>
{% for call in tasks.CallList %}
  <tbody>
    <tr>
      <td>{{ call.answered }}</td>
      <td>{{ call.called_num }}</td>
      <td>{{ call.callerid }}</td>
      <td>{{ call.duration }}</td>
      <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">{{ call.calldate }}</button></td>

       <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              {% for key, value in call.items() %}
                <p>{{ key }} --- {{ value }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
    </tr>
  </tbody>
{% endfor %}
</table>

{% endblock %}